@inject AuthService Auth
@inject NavigationManager Navigation

<div class="navbar-brand-box">
    <a href="/products" class="logo-text">Net<span>Inventory</span></a>
</div>

<div id="sidebar-menu">
    <ul>
        <AuthorizeView>
            <Authorized>
                <li class="menu-title">Inventario</li>
                <li>
                    <NavLink href="products" Match="NavLinkMatch.Prefix">
                        <i class="bi bi-box-seam"></i>
                        <span>Productos</span>
                    </NavLink>
                </li>
                <li class="menu-title" style="margin-top:8px;">Sistema</li>
                <li>
                    <NavLink href="error-logs" Match="NavLinkMatch.Prefix">
                        <i class="bi bi-exclamation-triangle"></i>
                        <span>Error Log</span>
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
                <li>
                    <NavLink href="login">
                        <i class="bi bi-person"></i>
                        <span>Iniciar sesión</span>
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</div>
